*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
}

#user-entry-form {
    position: absolute;
    top: 50%;
    left: 50%;
    /*Now using translate to put it in center*/
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
}

form label {
    text-align: center;
}

#keyword {
    height: 30px;
    border-radius: 40px;
    border-style: solid;
    border-color: black;
    outline: none;
    padding: 15px;
}

#button {
    width: 25%;
    margin: auto;
    height: 35px;
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    background-color: white;
    font-weight: 800;
    font-size: 1.2rem;
}



[for="keyword"] {
    font-size: 5rem;
    font-weight: bold;
}




